*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  /*  colors */
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-white: hsl(0, 0%, 100%);

  /* typography */

  --fs-1: 1.4rem;
  --fs-2: 1.7rem;
  --fs-3: 2rem;
  --fs-4: 2.4rem;
  --fs-5: 3rem;
  --fs-6: 4rem;
  --fs-7: 6rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --ff-secondary: "Alata", sans-serif;
  --ff-primary: "Public Sans", sans-serif;

  /* border-radius */

  --large-radius: 100px;

  /* gradient */

  --gradient-1: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );

  --gradient-inverted: linear-gradient(
    to right,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );

  --section-padding: 12rem;
}

::-webkit-scrollbar {
  display: none;
}

img,
input,
button,
span,
li {
  display: block;
}

input,
button {
  font-family: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
  color: var(--clr-dark-blue);
}

h1 {
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
}

h2 {
  font-size: var(--fs-5);
  font-weight: var(--fw-300);
}

h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-300);
}

body {
  font-size: var(--fs-1);
  font-family: var(--ff-primary);
  color: var(--clr-grayish-blue);
}

/* Reused styles */

.btn {
  background-image: var(--gradient-1);
  color: var(--clr-white);
  padding: 0.5em 1em;
  width: max-content;
  border-radius: var(--large-radius);
  font-weight: var(--fw-300);
  transition: all 0.2s ease-in-out;
  /* align-self: center; */
}

.btn:is(:hover, :focus) {
  background-image: var(--gradient-inverted);
  opacity: 0.8;
}

.container {
  max-width: 110rem;
  width: 100%;
  margin-inline: auto;
}

.section {
  padding-block: var(--section-padding);
}

.has-abs {
  position: relative;
}

/* custom styles */

.header .container,
.header .container nav,
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container {
  padding-block: 1.5rem;
  padding-inline: 2rem;
}

.navbar {
  gap: 6rem;
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
}

.navbar-list-item {
  padding: 0.6em 1.2em;
  /* background-color: #000; */
  position: relative;
}

.navbar-list-item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-image: var(--gradient-1);

  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.navbar-list-item:is(:hover, :focus)::after {
  transform: scaleX(100%);
  transform-origin: left;
}

/* hero section */

.hero {
  padding-block: 0;
  overflow: hidden;
  max-width: 160rem;
  margin-inline: auto;
}

.hero .container > * {
  /* border: 1px solid red; */
}

.hero .container {
  /* padding-inline-start: 1; */
  /* border: 1px solid red; */
  /* max-width: unset; */
  display: flex;

  margin: 0;
  margin-inline: auto;
  /* max-width: 100%; */

  gap: 5rem;
  justify-content: space-between;
  /* overflow: hidden; */
}

.hero-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
  flex-grow: 1;
  /* margin-inline-start: 5%; */
}

.hero-content h1 {
  color: var(--clr-dark-blue);
}
.hero-content .btn {
  /* font-size: var(--fs-1); */
}

.section.hero .abs-img {
  position: absolute;
  background-repeat: no-repeat;
  width: 80%;
  top: -15%;
  right: -30%;
  z-index: -1;
}

.hero-banner .intro-img {
  width: 120%;
  margin-block-start: -18%;
  margin-left: 25%;
  /* margin-inline-end: 40rem; */
}

/* Features */

.features {
  /* border: 1px solid red; */
  margin-block-start: -12rem;
  /* padding-block-start: 0; */
  background-color: #eee;
}

.feature-content {
  max-width: 50rem;
}

.feature-content .section-text {
  margin-block-start: 2rem;
}

.feature-cards,
.card {
  margin-block-start: 4rem;
  display: flex;
}

.feature-cards {
  gap: 6rem;
}

.card {
  flex-direction: column;
  gap: 2rem;
}

.features svg {
  /* width: 3rem;
  height: 3rem; */
}

.feature-cards .card-text {
  font-size: var(--fs-1);
}

/* articles */

.articles {
  display: flex;
  gap: 5rem;
  margin-block-start: 4rem;
}

.article-card,
.article-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border-radius: 0.5em;
  overflow: hidden;
}

.article-img {
  height: 15rem;
  transition: transform 0.2s ease-in;
}

.article-card {
  gap: 3rem;
}

.article-card-content {
  gap: 1rem;
}

.article-author {
  font-size: calc(var(--fs-1) - 0.2rem);
}

.article-title {
  color: var(--clr-dark-blue);
  font-size: var(--fs-2);
}

.article-card:is(:hover, :focus-within) .article-img {
  transform: scale(1.1);
  cursor: pointer;
}

/* footer */

.footer {
  --grid-col: 4;
  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  justify-items: center;
  align-items: start;
  background-color: var(--clr-dark-blue);
  font-size: var(--fs-2);
}

.footer .logo {
  width: 15rem;
  fill: var(--clr-white);
  /* color: var(--clr-white);
  stroke: var(--clr-white); */
}

.footer .social-list,
.footer-list,
.copyright {
  display: flex;
  gap: 1rem;
}
.footer-list,
.copyright {
  flex-direction: column;
}

.footer .social-list,
.copyright {
  margin-block-start: 2rem;
}

.copyright {
  justify-content: start;
}
